[submodule "tests/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
[submodule "lib/rpclib"]
	path = lib/rpclib
	url = git@github.com:rpclib/rpclib.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = git@github.com:google/googletest.git
